body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #111; /* Match dark background */
}
header h1 {
  font-size: 4rem; /* Large typography like the image */
  color: #b39482; /* Bright yellow font for title */
  font-weight: bold;
  letter-spacing: 0.05em;
}

header p {
  font-size: 1.2rem;
  color: #999; /* Lighter text for subtitle */
  margin: 10px 0;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #d8a9a9;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul li a:hover {
  color: #7c7180; /* Yellow hover effect for links */
}

.skills {
  padding: 20px;
}

h2 {
  color: #117a8b; /* Accent color */
  border-bottom: 2px solid #b3c1b88e; /* Primary color */
  padding-bottom: 5px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
